@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0, 0;
  --color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 255, 255, 255;
    --color: 0, 0, 0;
  }
}

body {
  color: rgb(var(--color));
  background: rgb(var(--background));
}
